---
import { getTags } from '../../utils/getTags'
import BaseLayout from '../../layouts/BaseLayout.astro'
import TagChip from '../../components/TagChip.astro'
const allPosts = await Astro.glob('../posts/*.md')
const uniqueTags = getTags(allPosts)
---

<style>
  ul {
    list-style: none;
    line-height: 2;
  }
</style>
<BaseLayout pageTitle="tags">
  <ul>
    {uniqueTags.map((tag) => <li><TagChip tag={tag} /></li>)}
  </ul>
</BaseLayout>
